# Data Cleaning

![](https://files.realpython.com/media/Pythonic-Data-Cleaning-With-Pandas_Watermarked.f9e9f439a6d6.jpg)

## What is Data Cleaning?
Data cleaning is the process of detecting incomplete, incorrect, inaccurate or irrelevant parts of the data and then replacing, modifying or deleting the dirty data.

**Note:** Data cleaning is also called Data Cleansing.

## Data Cleaning Steps:
1. Import Datasets
2. Merge datasets into one dataset
3. Identify Errors
4. Standardize Processes
5. Scrub for Duplicates
6. Validate Accuracy

## Datasets:
We have different option to download or directly import the data sets in Jupyter. Data scientist mainly use [Kaggle](https://www.kaggle.com) to import datasets. Well most of the time data are not presented as we require so we can collect the data direct from the user or websites.

### Here are some option to perform your work:
1. [Google Colab](https://research.google.com/colaboratory/)
2. [Kaggle](https://www.kaggle.com/)
3. [Deepnote](https://deepnote.com/)
4. [AWS SageMaker](https://aws.amazon.com/sagemaker/)
5. [GCP Notebooks](https://cloud.google.com/notebooks)
6. [Azure Notebooks](https://notebooks.azure.com/)
7. [Cocalc](https://cocalc.com/)
8. [Binder](https://mybinder.org/)
9. [Saturncloud](https://www.saturncloud.io/s/)
10.[Datablore](https://datalore.jetbrains.com/)
11.[IBM Notebooks](https://www.ibm.com/cloud/watson-studio)

## Handling Missing Values:
This is one of the most important part in data cleaning. Almost 80% time a data scientist invest in cleaning the data and only 20% time in training and testing the data. But handling the missing value is one of the task which need in every dataset. So, let's explore this.

## What is Missing value/Data?
* In the variable or any observation, values are not store called as missing value/data.


|  Sex  | Age  |  Weight(in Kg)  |  Income   |  No. of vehicles  |  Percentage |
|-------|------|-----------------|-----------|-------------------|-------------|
|  Male |  23  |     92.3        |  59,00,000|  2                |    90.83    |     
| Female|      |     35.3        |           |  1                |             |     
|  Male |  35  |     65.5        |  3,50,000 |                   |    68.35    |     
|       |  33  |     69.3        |  9,00,000 |  1                |    70.53    |     
|  Male |  63  |     73.9        |           |  9                |    80.20    |     
| Female|  43  |                 |  19,00,000|  1                |             |     
|       |  53  |     70.5        |  5,00,000 |  3                |    95.00    |

**Note:** In the above table in every column there are some missing values (data) which we need to fill. So, now we see the methods to fill the missing values.

## What are the Methods to Handle Missing Values?
Here are some commonly use methods to handle the missing values:
1. Ignore missing values row / delete row
2. Fill missing value manually
3. Global Constant
4. Measure of central tendency (Mean, Median,and Mode)
5. Measure of central tendency for each class
6. Most probable value (ML Algorithms)

## 1. Ignore missing values row / delete row:
We will see the use of this method with the following example:

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Python| 4     |          |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |
|      |       | 80,000   |

* We can see the missing values. Now we remove these row to clean our data for analysis.

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |

* **Note that this method is not applicable if the missing value is more than `5%` of the total data or for the small dataset because it can mislead our analysis.**

## 2. Fill missing value manually:
This method is useful for short dataset because we can not fill every missing values in a large dataset. Mostly we use programing to fill the missing value in this type of situation.
* We fill the missing value with help of presented values and some common sense. Let's see how with this example:

| St. Percentage | Present |
|----------------|---------|
|    80          |   P     |   
|    40          |   P     |   
|    90          |         |   
|    34          |         |   
|    00          |   A     |   

* We can observe if the student's percentage is good it means student must present in class.Therefore we can fill this as follow.

| St. Percentage | Present |
|----------------|---------|
|    80          |   P     |   
|    40          |   P     |   
|    90          |   P     |   
|    34          |   P     |   
|    00          |   A     |

## 3. Global Constant: (0 / Unknown / NaN / Infinity)
In this method we use Global Constant to fill the missing values.

| Age | Sex  |
|-----|------|
|  23 | Male |
|  12 |Female|
|  40 | Gay  |
|  22 | Male |
|     | Trans|
|  23 |      |

* We are using the Global Constant here:


| Age | Sex  |
|-----|------|
|  23 | Male |
|  12 |Female|
|  40 | Gay  |
|  22 | Male |
|   0 | Trans|
|  23 |Unknown|

**Note that using the Global Constant there is not any effect on actual values of the data during analysis.**

## 4. Measure of Central Tendency:
We use mean, median, or mode of the columns as required. Let's see with this example:

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Python| 4     |          |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |
| Java | 2     |          |
|Python| 1     | 80,000   |



* Here we can use the mean of the salary for the missing value.

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Python| 4     | 27,500   |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |
| Java | 2     |  27,500  |
|Python| 1     | 80,000   |


* **In this situation the Measure of central tendency is useful because we all the programming language developer don't earn the same amount.**  


* **Note that it will impact on the data so be aware with this method. When we use it at perfect place it makes our analysis and model effect but when we use at wrong place it may a disaster.**

## 5. Measure of Central Tendency For Each Class:
Here we take the mean, median, or mode for each classes.

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Python| 4     |          |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |
| Java | 2     |          |
|Python| 1     | 80,000   |

* For the above example we take mean for Python and Java class separately. Let's see

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Python| 4     | 60,000   |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |
| Java | 2     | 20,000   |
|Python| 1     | 80,000   |

**Note this one is very useful in this numerical value filling. Mostly we use this method.**

## 6. Most Probable Value:
In this method we use th ML algorithms like: Linear Regression, Decision Tree, etc.. to find the missing values. Let's see with the example

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Python| 4     |          |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |
| Java | 2     |          |
|Python| 1     | 80,000   |

* We use the ML Model to find these two missing values

| Dev  | Exp.  |  Salary  |
|------|-------|----------|
| Java | 1     | 20,000   |
|Python| 4     | 55,000   |
|Nodejs| 3     | 25,000   |
| Java | 1.5   | 20,000   |
|Python| 1     | 40,000   |
| Java | 2     | 22,000   |
|Python| 1     | 80,000   |

**Note:**
* This method is not used mostly because of the cost and time taking.
* This method is most effective in all the methods.

## Saving our work:

In [1]:
!pip install jovian --upgrade --quiet

In [2]:
import jovian

In [3]:
jovian.commit(project='Data Cleaning')

[jovian] Updating notebook "sonihariom555/data-cleaning" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/sonihariom555/data-cleaning

'https://jovian.com/sonihariom555/data-cleaning'

# Now we explore each methods on real datasets

## 1. Ignore Missing Values Row / Delete Row:

### Step 1: Importing Libraries

In [4]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2: Loading The Dataset

In [5]:
# We are loading the House Pricing Data downloaded from kaggle.
df = pd.read_csv('train.csv')

### Step 3: Viewing The Dataset

In [6]:
df.shape

(1460, 81)

In [7]:
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

#### Note:
Here is a problem i.e., we cann't see all the column name. Now we solve this using a simple function `pd.set_option()`.

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [9]:
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,5,1999,2000,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,Unf,0,Unf,0,953,953,GasA,Ex,Y,SBrkr,953,694,0,1647,0,0,2,1,3,1,TA,7,Typ,1,TA,Attchd,1999.0,RFn,2,460,TA,TA,Y,0,40,0,0,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,Norm,1Fam,1Story,6,6,1978,1988,Gable,CompShg,Plywood,Plywood,Stone,119.0,TA,TA,CBlock,Gd,TA,No,ALQ,790,Rec,163,589,1542,GasA,TA,Y,SBrkr,2073,0,0,2073,1,0,2,0,3,1,TA,7,Min1,2,TA,Attchd,1978.0,Unf,2,500,TA,TA,Y,349,0,0,0,0,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,9,1941,2006,Gable,CompShg,CemntBd,CmentBd,None,0.0,Ex,Gd,Stone,TA,Gd,No,GLQ,275,Unf,0,877,1152,GasA,Ex,Y,SBrkr,1188,1152,0,2340,0,0,2,0,4,1,Gd,9,Typ,2,Gd,Attchd,1941.0,RFn,1,252,TA,TA,Y,0,60,0,0,0,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,6,1950,1996,Hip,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,TA,TA,Mn,GLQ,49,Rec,1029,0,1078,GasA,Gd,Y,FuseA,1078,0,0,1078,1,0,1,0,2,1,Gd,5,Typ,0,NaN,Attchd,1950.0,Unf,1,240,TA,TA,Y,366,0,112,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,Norm,1Fam,1Story,5,6,1965,1965,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,CBlock,TA,TA,No,BLQ,830,LwQ,290,136,1256,GasA,Gd,Y,SBrkr,1256,0,0,1256,1,0,1,1,3,1,TA,6,Typ,0,NaN,Attchd,1965.0,Fin,1,276,TA,TA,Y,736,68,0,0,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

#### Note:
You can see the basic information using `.info()`. But we need null values to clean. So, let's see.

In [ ]:
df.isnull()

#### Note:
These value are in True and False manner it means Null value are represented as True but it isn't informative for us. So, we look some other options:

In [ ]:
df.isnull().sum()  # It count the total null values presented in every colums. Let's see

#### Note:
* We can see there are four columns which have the highest null values.
* This information is most important to perform our analysis.

### We can also calculate total `Null Values` in our data using another `.sum()` command.

In [ ]:
df.isnull().sum().sum()  # It tells us about the total null values present in our dataset.

In [ ]:
jovian.commit()

### Step 4: Visualizing The Null Values

Humans understand more visuals then numbers. So, we are going to visualize with the help of heat map.

In [ ]:
# Heatmap
plt.figure(figsize=(20,20))
sns.heatmap(df.isnull())

#### Note: 
When you observe this heatmap you will see:
1. Black Area = All the non-null values
2. White Area =  All null values (Here are three columns which are totaly null)
3. Y-Axis = All the columns name
4. X-Axis =  Rows number (Index of null values row)
5. Index bar = indicates the values between 0 and 1

* Here I'm giving an analogy to understand this map: Let's suppose the map is a face and the white spots are the dirt on the face we need to clea all the dirt and make look it in glow or single color.

### Step 5: Calculate the Percentage of the null value in each column

We need to calculate the percentage of null values in each column to eliminate.

In [ ]:
null_var=df.isnull().sum()/df.shape[0]*100
null_var

#### Note:
* We can easily see there are total four columns with more than `80%` null value- They are useless we can delete for this analysis.
* There are two more columns with approx `20%` or more with null values- So according to the analysis we want we can delete them too.
* Some columns have `5%` or less null values we can leave or fill them.
But for now we are going to write an code to eliminate these columns.

### Step 6: Dropping the columns

In [ ]:
drop_column=null_var[null_var>17].keys()
drop_column

In [ ]:
df2_drop_col=df.drop(columns=drop_column)
df2_drop_col.shape

In [ ]:
# Let's see 
sns.heatmap(df2_drop_col.isnull())

#### Note:
We can see the major columns with white spots has gone. Now we need to clear the remaining white spots.
These can be removed with entire row in which these white spots present. So, let's do it with the help of `dropna()`

In [ ]:
df3_drop_row= df2_drop_col.dropna()
df3_drop_row.shape

* We can see the number of rows had declined.

In [ ]:
# Now we see thefinal heatmap.
sns.heatmap(df3_drop_row.isnull())

#### Note:
Now our data is totally clean there is no null values. So, according to our analogy our face is dirt free and looks Gulabi-Gulabi.

### Step 7: Verifiy the Null values eliminated

In [ ]:
df3_drop_row.isnull().sum()

In [ ]:
df3_drop_row.isnull().sum().sum()

#### Note:
It is clear that there is zero null values.

### Step 7: Validate Our Decision Such That Elimination is Right for This Dataset

In [ ]:
jovian.commit()