# Variables and Data Type in Python

> Content:

* Storing information using variables
* Primitive data types in Python: Integer, Float, Boolean, None and String
* Built-in data structures in Python: List, Tuple, and Dictionary
* Methods and operators supported by built-in data types

## A Quick Tour Of Variables And Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

## 1. Storing Information Using Variables

Computers are useful for two purposes:  
1. Storing data
2. Performing operations on stored data  
While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called *Value*. Creating variables in Python is pretty easy, as we've already seen in [chapter-1](https://hub.binder.jovian.ai/user/sonihariom555/api-git-fdc2a01-1986d626ced9_17-c38tdfvc/notebooks/Chapter-1.ipynb#).

**Creating Variables:-** A variable is creating using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  
  
*Example:-* `my_favorite_color = "yellow"`
  
**Note:-** The assignment operator `=` is different from the *Equality comparison Operator `==`*.

*Example:- `my_favorite_color == "yellow"`*( It checks whether it's yellow or not the `Output` is either `True` or `False` only)

* You can also assign value to multiple variables in a single statement by separating the variable names and values with commas.

In [4]:
Color1, Color2, Color3 = "Red", "Green", "White"

In [5]:
Color3

'White'

In [6]:
print(Color2)

Green

In [7]:
print("Color1")

Color1

* Note that the difference between `print(Color2)` and `print("Color2")`

In [8]:
print(Color1)

Red

* You can assign the same value to multiple variables by adding multiple assignment operations within a single statement.
* Notice the different experiments with `print` and `normal`outputs

In [9]:
C1=C2=C3=C4=C5= "Megenta"

In [10]:
C1

'Megenta'

In [11]:
print(C2)

Megenta

In [12]:
print(C3,C4,C5)

Megenta Megenta Megenta

In [13]:
C3,C4,C5

('Megenta', 'Megenta', 'Megenta')

* You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: When you assign a new value to the variable, the old value is lost and no longer accessible.

In [14]:
new_color= 'Pink'

In [15]:
new_color

'Pink'

In [16]:
new_color="Voilet"

In [17]:
print(new_color)

Voilet

* While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [18]:
count_num=19

In [19]:
count_num

19

In [20]:
count_num=count_num+1

In [21]:
print(count_num)

20

**Shorthand Syntax:-**
The pattern `var = var O something` (Where O = Operations = +,-,*,/) is very common. So Python provides a short form syntax called `shorthand syntax`

In [22]:
count_num

20

In [23]:
count_num=105

In [24]:
print(count_num)

105

In [25]:
# same as `count_num= count_num - 5`
count_num -=5

In [26]:
count_num

100

In [27]:
# value of count_num=100 + 100 = 200 
count_num += 100
count_num

200

In [28]:
# value of count_num = 200*10 = 2000
count_num *= 10
count_num

2000

In [29]:
# value of count_num =2000/200 = 10
count_num /=200
count_num

10.0

In [30]:
# value of count_num = 10^2 = 100
count_num **=2
count_num

100.0

In [31]:
# value of count_num = 100//3 =33
count_num //= 3
count_num

33.0

In [33]:
# value error ++,--,==,+- etc.
count_num ++= 2
count_num

SyntaxError: invalid syntax (3839510572.py, line 2)

**types Of Variables:-**
There two types of variables
1. **Short types:-** `a,b,x,y,z,i,j`,etc...  
2. **Descriptive Type;-** `count_num, profit_margin, num, color`, etc...

**Rules For Defining A Variable:-** The following rule must follow to naming Python variable:
* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small-`a-z`) or uppercase (capital- `A-Z`) letters, digits(`0-9`), or underscores(`_`).
* Variable names are case-sensitive, ie. `a_variable`, `A_Variable` and `A_VARIABLE` are all different variables.

**Some valid variables:-**

In [34]:
a_variable=123458
Is_Today_Saturday = False
my_fav_place= "Home"
The_3_Idiots="H,I,J"
The_3_musketeers= ["Athos","Prothos","Aramis"]
acer='A laptop brand'
pi=3.14

**Some invalid variables:-**

In [35]:
99acer= "A website"
3_musketeers= ["Athos","Prothos","Aramis"]
A Variable =23
ny-name= 'Hariom'
@youtube= "chennel"
is_today_$unday= True

SyntaxError: invalid syntax (1292570214.py, line 1)

* Here Python prints a syntax error due to invalid variables name.
> **Syntax:-** The syntax of a programming language refer to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

![](https://wpclipart.com/computer/laptop/laptop_2/laptop_error.png)

## 2. Built-in Data Types In Python

Any data or information stored within a Python variable has a type. You can view the type  of data stored within a variable using the `type()` function.

* Example:-

In [36]:
a_variable

123458

In [37]:
type(a_variable)

int

In [38]:
acer

'A laptop brand'

In [39]:
type(acer)

str

In [40]:
Is_Today_Saturday

False

In [41]:
type(Is_Today_Saturday)

bool

In [42]:
The_3_musketeers

['Athos', 'Prothos', 'Aramis']

In [43]:
type(The_3_musketeers)

list

In [44]:
The_3_Idiots

'H,I,J'

In [45]:
type(The_3_Idiots)

str

In [46]:
pi

3.14

In [47]:
type(pi)

float

* Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:
1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary  
* Further we can classify these data types in two parts according to their property

 
|         Primitive Data          |            Data Structures or Containers         |
|- - - - - - - - -  - - -  --  -  |- - - - - - - - - - - - - - - - - -- - - - - - - -|
| Holds A Single Value            | Holds multiple Piece Of Data Together            |
|- - - - - - - - -  - - -  --  -  |- - - - - - - - - - - - - - - - - -- - - - - - - -|
|       Integer                   |               List                               |
|          Float                  |               Tuple                              |
|          Boolean                |              Dictionary                          |
|          None                   |                                                  |
|           String                |                                               |


> Conclusion:  
1. Primitive Data Types:- They represent a single value  
(*Example- Integer, Float, Boolean, none, and string*).
2. Data Structures or Containers types:- They holds multiple pieces of data together   
(*Example- List, Tuple, Dictionary*).

### 1. Integer

Integers represent positive or negative whole numbers, from `-∞` to `+∞`. Note that the integer should not include decimal points. Integers have th type `int`.

In [48]:
Current_Year=2022

In [49]:
Current_Year

2022

In [50]:
type(Current_Year)

int

* Unlike some other programming languages, integers in Python can be arbitrarily large or small. There is no lowest or highest value for integers, and there is just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc.. in C/C++/Java).

*Example:-*

In [51]:
a_negative_large_num =-1234578935778893624861256736447621478863253
34878655664778896321742

34878655664778896321742

In [52]:
a_negative_large_num

-1234578935778893624861256736447621478863253

In [53]:
type(a_negative_large_num)

int

### 2. Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after decimal point. Floating-point numbers have the type `float`.

In [54]:
pi = 3.141592653

In [55]:
pi

3.141592653

In [56]:
type(pi)

float

* Note that a whole number is treated as a float if written with a decimal point, even thought the decimal portion of the number is zero.

In [57]:
a_num = 10

In [58]:
a_num

10

In [59]:
type(a_num)

int

In [60]:
a_num = 10.0

In [61]:
a_num

10.0

In [62]:
type(a_num)

float

In [63]:
a_number = 2.

In [64]:
a_number

2.0

In [65]:
type(a_number)

float

* Note division of any integer is always a float.

In [66]:
a_div = 10/2

In [67]:
a_div

5.0

In [68]:
type(a_div)

float

* Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [69]:
one_hundredth = 1e-2

In [70]:
one_hundredth

0.01

In [71]:
type(one_hundredth)

float

**Note:-** Here is some experiment to see the similarity between `**` and `e`

In [72]:
one_hundred = 1e+2
one_tenth = 1e-1

In [73]:
one_hundred

100.0

In [74]:
one_tenth

0.1

In [75]:
one_hundred = 10**2
one_tenth = 10**-1

In [76]:
one_hundred

100

In [77]:
one_tenth

0.1

**Conclusion:-** We noticed that `e = 10^` and `** = ^`

In [78]:
avogadro_number = 6.02214076e23

In [79]:
avogadro_number

6.02214076e+23

In [80]:
type(avogadro_number)

float

* You can convert `floats` into `integer` and vice-versa using `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [81]:
current_year=2022

In [82]:
current_year

2022

In [83]:
float(current_year)

2022.0

In [84]:
pi

3.141592653

In [85]:
int(pi)

3

In [86]:
int(avogadro_number)

602214075999999987023872

* While performing arithmetic operations, integers are automatically converted to `float` if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use `//` operator if you want the result of the division to be an `int`.

In [87]:
type(45*3.0)

float

In [88]:
type(45*3)

int

In [89]:
type(10/3)

float

In [90]:
type(10//3)

int

### 3. Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [91]:
is_today_sunday = True

In [92]:
is_today_sunday

True

In [93]:
type(is_today_sunday)

bool

* Boolean are generally the result of a comparison.   
Eg.:- `==`, `>=`, `<=`, etc...

In [94]:
cost_of_bread = 25
is_bread_expemsive = cost_of_bread>=20

In [95]:
is_bread_expemsive

True

* Booleans are automatically converted to `int`'s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to`0`.

In [96]:
5 + False

5

In [97]:
3. - True

2.0

In [98]:
True+False

1

In [99]:
False+False

0

In [100]:
True+True

2

* Any value in Python can be converted to a Boolean using the `bool` function.

In [101]:
num = 1

In [102]:
type(num)

int

In [103]:
new_num = bool(num)

In [104]:
new_num

True

In [105]:
type(new_num)

bool

* Only the following values evaluate to `False` (they are often called *falsy* values):
1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`
Everything else evaluate to `True` (a value that evaluates to `True` is often called a *truthy* value)

In [106]:
bool(False)

False

In [107]:
bool(0)

False

In [108]:
bool(0.0)

False

In [109]:
bool(None)

False

In [110]:
bool("")

False

In [111]:
bool([])

False

In [112]:
bool({})

False

In [113]:
bool(())

False

In [114]:
bool(set())

False

In [115]:
bool(range(0))

False

In [116]:
bool(True)

True

In [117]:
bool(True), bool(1), bool(3.14), bool("Hariom"), bool([1,2,3]), bool(range(10))

(True, True, True, True, True, True)

### 4. None

The none type includes a single value `None`, used to indicate the absence of a value. `None` has the type `None Type`. It is often used to declare a variable whose value may be assigned later.

In [118]:
nothing_value=None

In [119]:
type(nothing_value)

NoneType

In [120]:
x=None

In [121]:
type(x)

NoneType

In [122]:
x=pi

In [123]:
x

3.141592653

In [124]:
type(x)

float

### 5. String

A string is used to represent text (a string of characters) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `str`

In [125]:
today="Sunday"

In [126]:
today

'Sunday'

In [127]:
type(today)

str

* you can use single quotes `'` inside a string written with double quotes `"`, and vice-versa.

In [128]:
my_fav_movie_name = "One Flew Over The Cuckoo's Nest"

In [129]:
my_fav_movie_name

"One Flew Over The Cuckoo's Nest"

In [130]:
my_fav_pun = 'Thanks for explaning the word "many" to me, it means a lot to me.'

In [131]:
my_fav_pun

'Thanks for explaning the word "many" to me, it means a lot to me.'

* To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [132]:
another_pun = "The first tyme I got a universal remote control, I thought to my self \"This change everything\"."

In [133]:
another_pun

'The first tyme I got a universal remote control, I thought to my self "This change everything".'

In [134]:
print(another_pun)

The first tyme I got a universal remote control, I thought to my self "This change everything".

* String creating using single or double quotes must begin and end on the same line. To create multi line strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [135]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" \n  Dad: "No sun."'''

In [136]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \n  Dad: "No sun."'

* Multiline strings are best displayed using the `print` function.

In [137]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
  Dad: "No sun."

In [138]:
a_music_pun = """
Tow windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

"""

In [139]:
a_music_pun

'\nTow windmills are standing in a field and one asks the other,\n"What kind of music do you like?"\n\nThe other says,\n"I\'m a big metal fan."\n\n'

In [140]:
print(a_music_pun)

Tow windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

* **You can check the length of a string using the `len` function.**

In [141]:
len(my_fav_place)

4

In [142]:
len(a_music_pun)

138

In [143]:
len(another_pun)

95

**Note:-** That special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [144]:
multiline_string="""a
b"""

In [145]:
multiline_string

'a\nb'

In [146]:
print(multiline_string)

a
b

In [147]:
len(multiline_string)

3

* A string can be converted into a list of characters using `list` function.

In [148]:
list(multiline_string)

['a', '\n', 'b']

In [149]:
list(my_fav_place)

['H', 'o', 'm', 'e']

 * You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1` is the length oof the string.

In [150]:
today

'Sunday'

In [151]:
list(today)

['S', 'u', 'n', 'd', 'a', 'y']

In [152]:
today[0]

'S'

In [153]:
today[5]

'y'

* You can access a part of a string using by providing a `Start:End` range instead of a single index in `[]`.

In [154]:
today[3:6]

'day'

In [155]:
today[0:3]

'Sun'

* You can also check whether a string contains a some text using the `in` operator.

In [156]:
'day' in today

True

In [157]:
"Sun" in today

True

In [158]:
"Mon" in today

False

* Two or more string can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [159]:
full_name = "Derek o'Brien"

In [160]:
greeting = "Hello,"

In [161]:
greeting full_namenamefull_name

SyntaxError: invalid syntax (1694694890.py, line 1)

In [162]:
# Adding additional space
greeting + " " + full_name + "!"

"Hello, Derek o'Brien!"

**Strings in Python have many built-in methods that are used to manipulate them. Let's try out some common string methods.**

> **Methods:-** Methods are functions associated with data types and are accessed using `.` notation  
Eg.:- `variable_name.method()` or `"a string".method()`.  
Methods are a powerful technique for associating common operations with values of specific data types.  
**Methods that are used to change the case of the characters.**  
1. `.lower()`
2. `.upper()`
3. `.capitalize()`
4. `.replace()`
5. `.split()`
6. `.strip()`
7. `.format()` etc...

In [163]:
today

'Sunday'

**1. `.lower() :-`**  All character changes into lower case.

In [164]:
today.lower()    # all character changes into lower case.

'sunday'

**2. `.upper() :-`** All character changes into upper case.

In [165]:
today.upper()    # all character changes into upper case.

'SUNDAY'

**3. `.capitalize() :- `** Only first latter changes into upper case.

In [166]:
today.capitalize()    # only first latter changes into upper case.

'Sunday'

In [167]:
"monday".capitalize()

'Monday'

**4. `.replace("text","replacing text") :- `** The `.replace` method replaces a part of string with another string. It takes the portion to be replaced and the replaced and the replacement text as *inputs* or *arguments*.

In [168]:
today

'Sunday'

In [169]:
another_day = today.replace("Sun","Wednes")    # only replace the quoted text.

In [170]:
another_day

'Wednesday'

* Note:-`.replace` returns a new string, and the original string is not modified.

In [171]:
today    # original string is not modified.

'Sunday'

**5. `.split() :- `** The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [172]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

**6. `.strip() :- `** The `.strip()` method removes whitespace characters from the beginning and the end of a string.

In [173]:
a_long_line = '''                   This is a long line with some space before and after         the sentences.                             '''

In [174]:
a_long_line_striped = a_long_line.strip()

In [175]:
a_long_line_striped

'This is a long line with some space before and after         the sentences.'

**7. `.formate() :- `** The `.formate()` method combines values of other data types (e.g.:- integers, floats, booleans, lists, etc...) with strings. You can use `.format()`  to construct output messages for display.

In [176]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin =.2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, 
with a profit margin of {}%,
then the total profit it makes by selling {} ice bags is ${}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag,
with a profit margin of {}%,
then the total profit it makes by selling {} ice bags is ${}.

In [177]:
# Inserting values into the string.
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin * 100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag,
with a profit margin of 20.0%,
then the total profit it makes by selling 500 ice bags is $125.0.

* **Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.**

* **It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.**

In [178]:
"If a grocery store sells ice bags at $" + cost_of_ice_bag + ", with a profit margin of" + profit_margin

TypeError: can only concatenate str (not "float") to str

* Note:-We get *errors* when we concatenate direct the variables without using `str`

In [179]:
"If a grocery store sells ice bags at $" + str(cost_of_ice_bag )+ ", with a profit margin of " + str(profit_margin * 100) + "%."

'If a grocery store sells ice bags at $1.25, with a profit margin of 20.0%.'

In [180]:
# Chaging into string type data

number_as_string = str(23)

In [181]:
number_as_string

'23'

In [182]:
type(number_as_string)

str

In [183]:
# Directly changing float into string type data

float_as_string = str(22.2358)

In [184]:
float_as_string

'22.2358'

In [185]:
type(float_as_string)

str

In [186]:
# Boolean into string

bool_as_str=str(True)

In [187]:
bool_as_str

'True'

In [188]:
type(bool_as_str)

str

In [189]:
# List type data into string

the_3_musketeers = ["Athos", "Porthos","Aramis"]
new_the_3_musketeers = str(the_3_musketeers)
new_the_3_musketeers

"['Athos', 'Porthos', 'Aramis']"

In [190]:
type(the_3_musketeers)

list

In [191]:
type(new_the_3_musketeers)

str

* Note that all string methods return new values and *DO NOT* change the existing string. You can find here- [Full list of string methods](https://www.w3schools.com/python/python_ref_string.asp)

* **String also support the comparison operators `==` and `!=` for checking whether two strings are equal.**

In [192]:
full_name="Hariom Kumar Verma"

In [193]:
full_name=="Verma"

False

In [194]:
full_name == "Hariom Kumar Verma"

True

In [195]:
full_name != "Hariom"

True

* **We have looked at the primitive data types in Python. We are now ready to explore *non-primitive* data structures, also known as *Containers*.**

### 1. List :-

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add,remove, and change values. Lists have the type `list`.

* To create a list, enclose a sequences of values within square brackets `[` and `]` , separately by commas.

In [196]:
fruits = ['Apple','Banana','Cherry']

In [197]:
fruits

['Apple', 'Banana', 'Cherry']

In [198]:
type(fruits)

list

* let's try to creating a list containing values of different data type, including another list.

In [199]:
a_list = [55,"Hello", None, 3.1415, 3>=2, fruits]

In [200]:
a_list

[55, 'Hello', None, 3.1415, True, ['Apple', 'Banana', 'Cherry']]

In [201]:
# Empty list

empty_list = []

In [202]:
empty_list

[]

* To determine the number of values in a list, use the `len` function. You can use `len` to determine the number of values in several other data types.

In [203]:
fruits

['Apple', 'Banana', 'Cherry']

In [204]:
len(fruits)

3

In [205]:
a_list

[55, 'Hello', None, 3.1415, True, ['Apple', 'Banana', 'Cherry']]

In [206]:
len(a_list)

6

**Note:-** Here the last element counted as a single element of `a_list`

In [207]:
empty_list

[]

In [208]:
len(empty_list)

0

In [209]:
print("Number of fruits: ", len(fruits))

Number of fruits:  3

* We can access an element from the list using its *index*, e.g.- `fruits[2]` returns the element at index 2 within the list `fruits`. The starting index of a list is `0` to `n-1`. Where `n` is total number of elements with `",:,\` counted.

In [210]:
fruits

['Apple', 'Banana', 'Cherry']

In [211]:
# From left to right indexing we use 0 to n-1

fruits[0]

'Apple'

In [212]:
fruits[2]

'Cherry'

In [213]:
# From right to left we use negative indexing  starting -1 to -n.

fruits[-1]

'Cherry'

In [214]:
fruits[-3]

'Apple'

In [215]:
# Comparing the different indexing number with same output.

fruits[0]==fruits[-3]

True

In [216]:
# An error for invalid index number.

fruits[3]

IndexError: list index out of range

* You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [217]:
a_list

[55, 'Hello', None, 3.1415, True, ['Apple', 'Banana', 'Cherry']]

In [218]:
len(a_listlist)

NameError: name 'a_listlist' is not defined

In [219]:
a_list[2:5]

[None, 3.1415, True]

**Note :-** The range `2:5` includes the element at the *start index*- `2 = None` but does not include the element at the *End index*- `5 = ['Apple', 'Banana', 'Cherry']`.  
So the result has three values (index - `2`, `3`, `4`).  
Here are some experiments:

In [220]:
new_list=[None, 3.1415, "hello world", True, False, 99, fruits ]

In [221]:
new_list

[None, 3.1415, 'hello world', True, False, 99, ['Apple', 'Banana', 'Cherry']]

In [222]:
len(new_list)

7

In [223]:
new_list[6]

['Apple', 'Banana', 'Cherry']

In [224]:
# See what happens when we perform beyond index number.

new_list[7]

IndexError: list index out of range

In [225]:
new_list[2:6]

['hello world', True, False, 99]

In [226]:
# Notice the output when we perform slicing beyond the index number

new_list[2:10]

['hello world', True, False, 99, ['Apple', 'Banana', 'Cherry']]

> It include all the elements after index-2 to index- 6 after giving end slicing number-10

In [227]:
new_list[10:2]

[]

> * Conclusion :- It always returns the empty list because our staring index is not valid.

In [228]:
# Without defining Start index.

new_list[:5]

[None, 3.1415, 'hello world', True, False]

> * Conclusion :-  It start from `index-0` to the given end index number

In [229]:
# Without defining End index.

new_list[2:]

['hello world', True, False, 99, ['Apple', 'Banana', 'Cherry']]

> * Conclusion :- It start from given index number to the last element of the list.

In [230]:
new_list

[None, 3.1415, 'hello world', True, False, 99, ['Apple', 'Banana', 'Cherry']]

In [231]:
# Trying with negative indexing.

new_list[-2:-4]

[]

In [232]:
new_list[-5:-1]

['hello world', True, False, 99]

> Note :- Here if `starting index no. < ending index no.` then output is empty list-`[]`.

> *Conclusion :-* When we indexing in negative term our Starting index number must be grater than Ending indexing number.

In [233]:
new_list[-5:]

['hello world', True, False, 99, ['Apple', 'Banana', 'Cherry']]

> Conclusion :- From index `-5 = 'hello world'` to the end of the list.

In [234]:
new_list[-10:]

[None, 3.1415, 'hello world', True, False, 99, ['Apple', 'Banana', 'Cherry']]

> Conclusion :- From staring to end.

In [235]:
new_list[:-1]

[None, 3.1415, 'hello world', True, False, 99]

In [236]:
new_list[:-10]  # This list is direction less. Therefore comands output is empty.

[]

* **You can also change the value at a specific index within a list using the assignment  operation.**

In [549]:
fruits=["Apple",'Banana',"Orange"]

In [550]:
fruits

['Apple', 'Banana', 'Orange']

In [551]:
fruits[1]='Blueberry' # this comand replace the value of the 1th position element with '' element.

In [552]:
fruits

['Apple', 'Blueberry', 'Orange']

In [553]:
fruits[0]="Mango"

In [554]:
fruits

['Mango', 'Blueberry', 'Orange']

In [555]:
# fruits[0:2]="Cherry" # This one is meanning less see the output.

In [556]:
fruits

['Mango', 'Blueberry', 'Orange']

* **A new value can be added to the end of a list using the `.append` method.**

In [557]:
fruits

['Mango', 'Blueberry', 'Orange']

In [558]:
fruits.append('Dates')

In [559]:
fruits

['Mango', 'Blueberry', 'Orange', 'Dates']

In [560]:
fruits.append('Cherry')  #You can see how the 'Cherry' added as a last element in the list.

In [561]:
fruits

['Mango', 'Blueberry', 'Orange', 'Dates', 'Cherry']

* **A new value can also be inserted at a specific index using the `.insert` method.**

In [562]:
fruits

['Mango', 'Blueberry', 'Orange', 'Dates', 'Cherry']

In [563]:
fruits.insert(1,'banana')

In [564]:
fruits

['Mango', 'banana', 'Blueberry', 'Orange', 'Dates', 'Cherry']

In [565]:
fruits.insert(0,'apple') # This is always insert the '' element at the given index number, see the output.

In [566]:
fruits

['apple', 'Mango', 'banana', 'Blueberry', 'Orange', 'Dates', 'Cherry']

* **You can remove a value from a list using the `.remove` method.**

In [567]:
fruits

['apple', 'Mango', 'banana', 'Blueberry', 'Orange', 'Dates', 'Cherry']

In [568]:
fruits.remove('banana')

In [569]:
fruits

['apple', 'Mango', 'Blueberry', 'Orange', 'Dates', 'Cherry']

In [570]:
# fruits.remove('apple','Dates') # This will show error because "list.remove()" takes only one value.

In [571]:
fruits.remove('Dates')

In [572]:
fruits

['apple', 'Mango', 'Blueberry', 'Orange', 'Cherry']

* **To remove an element from a specific index, use the `.pop` method. The method also returns the removed element.**

In [573]:
fruits

['apple', 'Mango', 'Blueberry', 'Orange', 'Cherry']

In [574]:
fruits.pop(1) # The the output. The output will be removed from the list.

'Mango'

In [575]:
fruits

['apple', 'Blueberry', 'Orange', 'Cherry']

In [576]:
# fruits.pop(0:1)  # This will show error because pop takes only one index at a time.

* **If no index is provided, the `pop` method removes the last element of the list.**

In [577]:
fruits

['apple', 'Blueberry', 'Orange', 'Cherry']

In [578]:
fruits.pop()

'Cherry'

In [579]:
fruits

['apple', 'Blueberry', 'Orange']

In [580]:
fruits.pop() # See the output. How pop method remove the last element when we doesn't provide index number.

'Orange'

In [581]:
fruits

['apple', 'Blueberry']

* **We can check weather a list contains a value using the `in` operator.**

In [582]:
fruits

['apple', 'Blueberry']

In [583]:
'Banana' in fruits

False

In [584]:
'Apple' in fruits #Python is case sensetive therefore output will be False.

False

In [585]:
'apple' in fruits

True

* **To combine two or more lists, use the `+` operator is also called *Concatenation*.**

In [586]:
fruits

['apple', 'Blueberry']

In [587]:
fruits = fruits + ["banana","orange"] + ['dates', 'guava']

In [588]:
fruits

['apple', 'Blueberry', 'banana', 'orange', 'dates', 'guava']

In [589]:
# fruits - ['apple'] # There isn't such command for removing the elements.

* **To create a copy of a list, use the `.copy` method. Modifying the copied list does not affect the original.**

In [590]:
fruits_copy = fruits.copy()

In [591]:
fruits_copy

['apple', 'Blueberry', 'banana', 'orange', 'dates', 'guava']

In [592]:
# Modify the copy
fruits_copy.remove('banana')
fruits_copy.pop()
fruits_copy

['apple', 'Blueberry', 'orange', 'dates']

In [593]:
fruits # See the differences between 'fruits' and 'fruits-copy' with modify version.

['apple', 'Blueberry', 'banana', 'orange', 'dates', 'guava']

* Note:- You can not create a copy of a list by simply creating a new variable using "assignment" operator `=`. The new variable will point to the same list, and any modifications perform using either variable will affect the other.

In [594]:
fruits_copy

['apple', 'Blueberry', 'orange', 'dates']

In [595]:
not_a_fruits_copy = fruits_copy

In [596]:
not_a_fruits_copy

['apple', 'Blueberry', 'orange', 'dates']

In [597]:
not_a_fruits_copy.pop()

'dates'

In [598]:
not_a_fruits_copy

['apple', 'Blueberry', 'orange']

In [599]:
fruits_copy

['apple', 'Blueberry', 'orange']

In [600]:
fruits_copy = fruits_copy +['guava']

In [601]:
fruits_copy

['apple', 'Blueberry', 'orange', 'guava']

In [602]:
not_a_fruits_copy

['apple', 'Blueberry', 'orange']

* Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operators [here](https://www.w3schools.com/python/python_ref_list.asp).  

Following are some exercises you can try out with list methods (use the below cell.)  
* Reverse the order of elements in a list.
* Add the elements of one list at the end of another list.
* Sort a list of string in alphabetical order
* Sort a list of numbers in decreasing order

1. Command for reverse the order of elements in a list:-

In [603]:
# We use the .reverse() method to reverse the list.
name_list=['Hariom','Nirbhay',"Vivek"]
name_list

['Hariom', 'Nirbhay', 'Vivek']

In [604]:
name_list.reverse()
name_list

['Vivek', 'Nirbhay', 'Hariom']

In [605]:
name_list.reverse()
name_list

['Hariom', 'Nirbhay', 'Vivek']

2. Command to add the elements of one list at the end of the another list:-

In [606]:
# We can add the elements of one list at the end of the another list using ".extend" method
new_name_list = ['Arti','Arya','Manisha']
new_name_list

['Arti', 'Arya', 'Manisha']

In [607]:
name_list

['Hariom', 'Nirbhay', 'Vivek']

In [608]:
# extention of name_list using '.extend' list. 
name_list.extend(new_name_list)
name_list

['Hariom', 'Nirbhay', 'Vivek', 'Arti', 'Arya', 'Manisha']

3. Command to sort the list in alphabetic order:-

In [609]:
# We can short the list in alphabetic order using `.sort` method.
name_list

['Hariom', 'Nirbhay', 'Vivek', 'Arti', 'Arya', 'Manisha']

In [610]:
name_list.sort()
name_list

['Arti', 'Arya', 'Hariom', 'Manisha', 'Nirbhay', 'Vivek']

In [611]:
fruits

['apple', 'Blueberry', 'banana', 'orange', 'dates', 'guava']

In [612]:
fruits.sort()
fruits

['Blueberry', 'apple', 'banana', 'dates', 'guava', 'orange']

4. Command to sort a list of numbers into decreasing order:-

In [617]:
# We can sort the list of numbers using `list.sort(reverse=True)` command for decreasing or decending order sorting.
num_list = [7,8,6,4,3,2,5]
num_list

[7, 8, 6, 4, 3, 2, 5]

In [620]:
num_list.sort(reverse=True)
num_list

[8, 7, 6, 5, 4, 3, 2]

### 2. Tuple

A tuple is an ordered collection of values, similar to a list. However, it is **not possible to add, remove, or modify values** in a tuple. A tuple is created by enclosing values within parentheses `(` and `)` separated by commas `,`.

> Any data structure that can not be modify after creation is called *immutable*. You can think of *tuples* as immutable lists.

* Let's try some experiment with tuples.

In [621]:
fruits

['Blueberry', 'apple', 'banana', 'dates', 'guava', 'orange']

In [622]:
t_fruits =('Apple','Mango','Banana')

In [623]:
# Check the number of elements in tuple using ---- `len()` command
len(t_fruits)

3

In [624]:
# Get an element (positive index) ---- `[+index]`
t_fruits[2]

'Banana'

In [625]:
# Get an element (negative index) ---- `[-index]` 
t_fruits[-2]

'Mango'

In [627]:
# Get the element between the index ---- `[start index : end index]`
# Note ending index element excluded where as starting index element included.

t_fruits[0:2]

('Apple', 'Mango')

In [634]:
t_fruits[-3:-1]

('Apple', 'Mango')

In [635]:
# Check weather an element exist or not

'Cherry' in t_fruits

False

In [636]:
"Mango" in t_fruits

True

In [637]:
# Try to change an element

t_fruits[0]='Cherry'

TypeError: 'tuple' object does not support item assignment

In [638]:
t_fruits.pop()

AttributeError: 'tuple' object has no attribute 'pop'

> Conclusion :-  Unchangeable or immutable

* **You can also skip the parentheses `(` and `)` while creating a tuple. Python automatically converts comma-separated value into a tuple.**

In [639]:
the_3_musketeers = 'Athos','porthos','Aramis'

In [640]:
the_3_musketeers

('Athos', 'porthos', 'Aramis')

In [641]:
num_tuple = 1,2,3,4,5,6,7,8,9

In [642]:
num_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

* **You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.**

In [646]:
single_element_tuple = 5,

In [647]:
single_element_tuple

(5,)

In [648]:
another_single_element_tuple = (1,)

In [649]:
another_single_element_tuple

(1,)

In [650]:
# Not a tuple it's a variable

not_a_tuple = (6)

In [651]:
not_a_tuple

6

* **Tuples are often used to create multiple variables with a single statement.**

In [657]:
point = (5,6)
point_x,point_y = point
print("Point x is:",point_x , '\n' "Point y is:",point_y)

Point x is: 5
Point y is: 6

In [660]:
name = ('Arya','Arti','Nirbhay','Shyam','Vivek')
sis_1,sis_2,bro_1,bro_2,bro_3 = name
print("Sisters names:",sis_1,',', sis_2 , '\n','Brothers name:',bro_1,',', bro_2, ',' ,bro_3)

Sisters names: Arya , Arti
 Brothers name: Nirbhay , Shyam , Vivek

* **We can convert a list into tuple using the `tuple` function, and vice-versa (from tuple to list using `list` function).**

In [661]:
# From list to tuple 

tuple(['one','two','three','four','five'])

('one', 'two', 'three', 'four', 'five')

In [662]:
# Let stroe tuple into a variable.

numb = tuple([1,2,3,4,5,6,7,8,9,10])

In [663]:
# This is tuple

numb

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [667]:
# This is list

list_numb=list(numb)

In [668]:
list_numb

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* **Tuples have just two built-in methods: `.count` and `.index`. It's your work to figure it out what they do. Well you can look for documentation and examples online, there is an easier way to check a methods documentation, using the `help` function.**

In [691]:
A_tuple = 23,'hello',False,None,22/7, 3.14,"Name",23,23,23

In [692]:
A_tuple

(23, 'hello', False, None, 3.142857142857143, 3.14, 'Name', 23, 23, 23)

In [683]:
help(A_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

* **Within a Jupyter notebook, you can also start a code cell with `?` and type the name of a function or method. When you execute this cell, you will see the function or method's documentation in a pop-up window.**

In [684]:
?A_tuple.index

In [688]:
?A_tuple.pop() # Invalid command because tuple is immutable.

Object `A_tuple.pop()` not found.

1. **`.count()`:-  method returns the number of times a specified value appears in the tuple.**  
syntax:- tuple.count(value)

In [685]:
# Trying `.count` method

A_tuple.count(5)

0

In [680]:
A_tuple.count('hello')

1

In [686]:
A_tuple.count(23)

4

> * **Conclusion:-** `.count` method count the occurence of an element in tuples.

2. **`index()`:-  method finds the first occurrence of the specified value.  
   `index()`:- method raises an exception if the value is not found.**
   
   syntax:- tuple.index(value)

In [689]:
# Trying `.index()` method

A_tuple.index(23)

0

In [693]:
A_tuple.index('Name')

6

In [695]:
A_tuple.index(False)

2

> * **Conclusion:-** `.index()` method provides the index number of an element in tuple.

### 3. Dictinory

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary. Dictionaries have the type `dict`.  
* Dictionaries are often used to store many  pieces of information   
  e.g.:- Details about a person in a single variable.  

* dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [698]:
person_1= {
    'name':'Hariom',
     'sex':'Male',
     'age': 23,
     'married': False
}

In [699]:
person_1

{'name': 'Hariom', 'sex': 'Male', 'age': 23, 'married': False}

* **Dictionary can also be created using the `dict` function.**

In [700]:
person_2 = dict(name='Amit', sex='Male', age=27,married=True)

In [701]:
person_2

{'name': 'Amit', 'sex': 'Male', 'age': 27, 'married': True}

In [702]:
# type of person_1

type(person_1)

dict

In [703]:
type(person_2)

dict

* **Keys can be used to access values using square brackets `[` and `]`.**

In [704]:
person_1['name']

'Hariom'

In [706]:
person_2["married"]

True

* Note :- If key isn't present in the dictionary, then a `KeyError` is thrown.

In [707]:
person_1['address']

KeyError: 'address'

* **You can also use the `.get()` method to access the value associated with a key.**

In [708]:
person_2.get('name')

'Amit'

In [709]:
person_1.get('married')

False

* **The `.get()` method also accept a default value, returned if the key is not present in the dictionary.**

In [710]:
person_2.get("address",'unknown')

'unknown'

In [712]:
person_1.get("age",'unknown')

23

* **We can check whether a key is present in dictionary or not using `in` operator.**

In [713]:
'name' in person_1

True

In [714]:
"father's name" in person_2

False

* **You can change the value associated with a key using the assignment operator `=`.**

In [715]:
person_2['married']

True

In [716]:
person_2['married']=False

In [717]:
person_2

{'name': 'Amit', 'sex': 'Male', 'age': 27, 'married': False}

In [718]:
person_2['married']

False

* **The assignment operator can also be used to add new key-value pairs to the dictionary.**

In [719]:
person_1

{'name': 'Hariom', 'sex': 'Male', 'age': 23, 'married': False}

In [720]:
person_1["address"]="New Delhi-110092"

In [721]:
person_1

{'name': 'Hariom',
 'sex': 'Male',
 'age': 23,
 'married': False,
 'address': 'New Delhi-110092'}

* **To remove a key and the associated value from dictionary, we use `.pop('keyname')` method.**

In [722]:
person_1

{'name': 'Hariom',
 'sex': 'Male',
 'age': 23,
 'married': False,
 'address': 'New Delhi-110092'}

In [723]:
person_1.pop("address")

'New Delhi-110092'

In [724]:
person_1

{'name': 'Hariom', 'sex': 'Male', 'age': 23, 'married': False}

In [725]:
person_2

{'name': 'Amit', 'sex': 'Male', 'age': 27, 'married': False}

In [727]:
# person_2.remove('married') # not working

In [728]:
person_2.pop('married')

False

In [729]:
person_2

{'name': 'Amit', 'sex': 'Male', 'age': 27}

* **Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it. using `.keys()`, `.values()` and `.items()` methods.**

In [730]:
person_1

{'name': 'Hariom', 'sex': 'Male', 'age': 23, 'married': False}

In [731]:
person_1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [732]:
person_1.values()

dict_values(['Hariom', 'Male', 23, False])

In [733]:
person_1.items()

dict_items([('name', 'Hariom'), ('sex', 'Male'), ('age', 23), ('married', False)])

In [736]:
# Error commands:-
'''
person_1.item()[1]
person_1.item(1)

'''

'\nperson_1.item()[1]\nperson_1.item(1)\n\n'

> * **Conclusion :-** The result of `.keys()`, `.values()` and `.items()` look like lists. However, they don't support the indexing operator `[]` for retrieving elements.

* Question:- Can you figure out how to access an element at a specific index from these results?  
 *Hint :- Use the `list` function.*

In [737]:
person_1

{'name': 'Hariom', 'sex': 'Male', 'age': 23, 'married': False}

In [739]:
list_person_1 = list(person_1)

In [740]:
list_person_1

['name', 'sex', 'age', 'married']

In [741]:
list_person_1[3]

'married'

* Dictionaries provide many other methods. You can learn more about them [Here](https://www.w3schools.com/python/python_ref_dictionary.asp).  

Here are some experiments you can try out with dictionaries (use the empty cell below):

1. What happens if you use the same key multiple times while creating a dictionary?
2. How can you create a copy of a dictionary (modifying the copy should not change the original)?
3. Can the value associated with a key itself be a dictionary?
4. How can you add the key-value pairs from one dictionary into another dictionary? *Hint:- See the `.update()` method.*
5. Can the dictionary's keys be something other than a string. *e.g.:- a_number, boolean, lists, etc...?

* Experimenting with the 1st condition:-

In [743]:
p1 = dict(name='Rony', name='Tony',name='Mony', name= 'Jony')

SyntaxError: keyword argument repeated: name (3653023934.py, line 1)

> * **Conclusion :-** It gives an `SyntaxError` it means we can't repeat the same key multiple times in dictionary.

* Creating a copy of dictionary using `.copy` method :-

In [744]:
p1 = dict(name ='Soham',age =23,cls=12, subject='PCM',address='New Delhi')

In [745]:
p1

{'name': 'Soham',
 'age': 23,
 'cls': 12,
 'subject': 'PCM',
 'address': 'New Delhi'}

In [747]:
p1_copy = p1.copy()

In [748]:
p1_copy

{'name': 'Soham',
 'age': 23,
 'cls': 12,
 'subject': 'PCM',
 'address': 'New Delhi'}

In [750]:
p1_copy['subject']='PCB'
p1_copy

{'name': 'Soham',
 'age': 23,
 'cls': 12,
 'subject': 'PCB',
 'address': 'New Delhi'}

In [753]:
p1_copy.pop('address')
p1_copy

{'name': 'Soham', 'age': 23, 'cls': 12, 'subject': 'PCB'}

In [754]:
p1

{'name': 'Soham',
 'age': 23,
 'cls': 12,
 'subject': 'PCM',
 'address': 'New Delhi'}

* Experimenting with the 3rd question:-

In [755]:
p3= dict(movie_name='Dj Dhruva', actor = dict(actor1="Allu Arjun",actor2="Pooja Hegde", actor3="Brahmanandam"), realsing_year=2020, industry="South Indian cinema")

In [756]:
p3

{'movie_name': 'Dj Dhruva',
 'actor': {'actor1': 'Allu Arjun',
  'actor2': 'Pooja Hegde',
  'actor3': 'Brahmanandam'},
 'realsing_year': 2020,
 'industry': 'South Indian cinema'}

In [757]:
p3['actor']

{'actor1': 'Allu Arjun', 'actor2': 'Pooja Hegde', 'actor3': 'Brahmanandam'}

> * **Conclusion:-** We Can associated dictionary form value with a key itself. *e.g.:- actor in p3*

* We will use `.update()` method to add key-value pair as required in 4th question:-

In [758]:
p3

{'movie_name': 'Dj Dhruva',
 'actor': {'actor1': 'Allu Arjun',
  'actor2': 'Pooja Hegde',
  'actor3': 'Brahmanandam'},
 'realsing_year': 2020,
 'industry': 'South Indian cinema'}

In [767]:
p3.update({"earnings (crs)":200}) # note here the syntax uses "{}"in "()".

In [768]:
p3

{'movie_name': 'Dj Dhruva',
 'actor': {'actor1': 'Allu Arjun',
  'actor2': 'Pooja Hegde',
  'actor3': 'Brahmanandam'},
 'realsing_year': 2020,
 'industry': 'South Indian cinema',
 'earnings': 200,
 'earnings (crs)': 200}

In [805]:
# Now from one dictionary to another dictionary.

d1=dict(name='Sonu', age=17, cls=10, subject='PCM')
d2=dict(name='Seema', age=18, cls=11, subject='PCB')

In [806]:
d1

{'name': 'Sonu', 'age': 17, 'cls': 10, 'subject': 'PCM'}

In [807]:
d2

{'name': 'Seema', 'age': 18, 'cls': 11, 'subject': 'PCB'}

In [810]:
p3

{'movie_name': 'Dj Dhruva',
 'actor': {'actor1': 'Allu Arjun',
  'actor2': 'Pooja Hegde',
  'actor3': 'Brahmanandam'},
 'realsing_year': 2020,
 'industry': 'South Indian cinema',
 'earnings': 200,
 'earnings (crs)': 200}

In [808]:
d1.update(p3)
print(d1)

{'name': 'Sonu', 'age': 17, 'cls': 10, 'subject': 'PCM', 'movie_name': 'Dj Dhruva', 'actor': {'actor1': 'Allu Arjun', 'actor2': 'Pooja Hegde', 'actor3': 'Brahmanandam'}, 'realsing_year': 2020, 'industry': 'South Indian cinema', 'earnings': 200, 'earnings (crs)': 200}

* Experimenting with dictionary keys other than string :-

In [817]:
dic1=dict(1="odd",2="even",True="Boolean",3.14="Pi",)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2346368452.py, line 1)

> * **Conclusion:-**  The dictionary's keys can't be something other than a string, e.g., a number, boolean, list, etc..

### Further Reading

We have now completed our exploration of variables and common data types in Python. Following are some resources to learn more about data types in Python:  
* Python official documentation: [Click Here](https://docs.python.org/3/tutorial/index.html)
* Python tutorial at W3Schools; [Click Here](https://www.w3schools.com/python/)
* Practical Python programming: [Click Here](https://dabeaz-course.github.io/practical-python/Notes/Contents.html)

>`You are now ready to move on the next tutorial: Branching using conditional statements and loops in Python.

## Questions and Answer for Revision:-

Try answering the following questions to test your understanding of the topics covered in this notebook
1. What is a variable in Python?
2. How do you create a variable?
3. How do you check the value within a variable?
4. How do you create multiple variables in a single statement?
5. How do you create multiple variables with the same value?
6. How do you change the value of a variable?
7. How do you reassign a variable by modifying the previous value?
8. What does the statement `counter += 4` do?
9. What are the rules for naming a variable?
10. Are variable names case-sensitive? Do `a_variable`, `A_Variable`, and `A_VARIABLE` represent the same variable or different ones?
11. What is Syntax? Why is it important?
12. What happens if you execute a statement with invalid syntax?
13. How do you check the data type of a variable?
14. What are the built-in data types in Python?
15. What is a primitive data type? 
16. What are the primitive data types available in Python?
17. What is a data structure or container data type?
18. What are the container types available in Python?
19. What kind of data does the Integer data type represent?
20. What are the numerical limits of the integer data type?
21. What kind of data does the float data type represent?
22. How does Python decide if a given number is a float or an integer?
23. How can you create a variable which stores a whole number, e.g., 4 but has the float data type?
24. How do you create floats representing very large (e.g., 6.023 x 10^23) or very small numbers (0.000000123)?
25. What does the expression `23e-12` represent?
26. Can floats be used to store numbers with unlimited precision?
27. What are the differences between integers and floats?
28. How do you convert an integer to a float?
29. How do you convert a float to an integer?
30. What is the result obtained when you convert 1.99 to an integer?
31. What are the data types of the results of the division operators `/` and `//`?
32. What kind of data does the Boolean data type represent?
33. Which types of Python operators return booleans as a result?
34. What happens if you try to use a boolean in arithmetic operation?
35. How can any value in Python be covered to a boolean?
36. What are truthy and falsy values?
37. What are the values in Python that evaluate to False?
38. Give some examples of values that evaluate to True.
39. What kind of data does the None data type represent?
40. What is the purpose of None?
41. What kind of data does the String data type represent?
42. What are the different ways of creating strings in Python?
43. What is the difference between strings creating using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
44. How do you create multi-line strings in Python?
45. What is the newline character, `\n`?
46. What are escaped characters? How are they useful?
47. How do you check the length of a string?
48. How do you convert a string into a list of characters?
49. How do you access a specific character from a string?
50. How do you access a range of characters from a string?
51. How do you check if a specific character occurs in a string?
52. How do you check if a smaller string occurs within a bigger string?
53. How do you join two or more strings?
54. What are "methods" in Python? How are they different from functions?
55. What do the `.lower`, `.upper` and `.capitalize` methods on strings do?
56. How do you replace a specific part of a string with something else?
57. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?
58. How do you remove whitespace from the beginning and end of a string?
59. What is the string `.format` method used for? Can you give an example?
60. What are the benefits of using the `.format` method instead of string concatenation?
61. How do you convert a value of another type to a string?
62. How do you check if two strings have the same value?
63. Where can you find the list of all the methods supported by strings?
64. What is a list in Python?
65. How do you create a list?
66. Can a Python list contain values of different data types?
67. Can a list contain another list as an element within it?
68. Can you create a list without any values?
69. How do you check the length of a list in Python?
70. How do you retrieve a value from a list?
71. What is the smallest and largest index you can use to access elements from a list containing five elements?
72. What happens if you try to access an index equal to or larger than the size of a list?
73. What happens if you try to access a negative index within a list?
74. How do you access a range of elements from a list?
75. How many elements does the list returned by the expression `a_list[2:5]` contain?
76. What do the ranges `a_list[:2]` and `a_list[2:]` represent?
77. How do you change the item stored at a specific index within a list?
78. How do you insert a new item at the beginning, middle, or end of a list?
79. How do you remove an item from al list?
80. How do you remove the item at a given index from a list?
81. How do you check if a list contains a value?
82. How do you combine two or most lists to create a larger list?
83. How do you create a copy of a list?
84. Does the expression `a_new_list = a_list` create a copy of the list `a_list`?
85. Where can you find the list of all the methods supported by lists?
86. What is a Tuple in Python?
87. How is a tuple different from a list?
88. Can you add or remove elements in a tuple?
89. How do you create a tuple with just one element?
90. How do you convert a tuple to a list and vice versa?
91. What are the `count` and `index` method of a Tuple used for?
92. What is a dictionary in Python?
93. How do you create a dictionary?
94. What are keys and values?
95. How do you access the value associated with a specific key in a dictionary?
96. What happens if you try to access the value for a key that doesn't exist in a dictionary?
97. What is the `.get` method of a dictionary used for?
98. How do you change the value associated with a key in a dictionary?
99. How do you add or remove a key-value pair in a dictionary?
100. How do you access the keys, values, and key-value pairs within a dictionary?